extends layout

block content
	.container-fluid.p-0.m-0
		nav.navbar.mynavbar.sticky-top.px-2
			.container
				.d-none.d-md-block.py-2
					.d-flex.flex-row
						img.small_logo(src="/img/Logo.png")
						a.comp_name(href='/') Employee Awards
				.d-sm-flex.flex-sm-row.d-block.col.py-2.text-sm-left.text-center.pr-0
					.col.d-sm-flex.flex-sm-row.d-block.w-100.justify-content-start
								
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='mailto:lynx.no.reploy@gmail.com') Contact us
					.col.w-100
					.col.d-sm-flex.flex-sm-row.d-block.w-100.text-sm-left.text-center.justify-content-end.pr-0
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='/logout') Sign Out
						
	.container-fluid
		row
			nav.col-sm-3.col-md-3.d-none.d-md-block.bg-light.sidebar
				sidebar-sticky
					nav.flex-column
					
						a.nav-link.active(href="/mainMenu") Dashboard
					
						a.nav-link(href="/accountDetail") Account
					
						a.nav-link(href="/newPassEmployee") Update Password
					
						a.nav-link(href="/addSignature") Update Signature
					
						a.nav-link(href="/addAward") Create Award

						a.nav-link(href="/awards") Manage Award

			main.col-md-9.ml-sm-auto.col-lg-10.px-4
				d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
					h2 Account Information
					p #{user.first}
					p #{user.last}
					p #{user.email}
					p#signDiv Signature
					img(src=user.data)
					

	script.
		document.addEventListener("DOMContentLoaded", function(event) {
			var link=document.getElementById('signDiv');
			link.innerHTML = htmlStr+'<img src="'+user.data+'" />';
		});
