extends layout

block content
	.container-fluid.p-0.m-0
		nav.navbar.mynavbar.sticky-top.px-2
			.container
				.d-none.d-md-block.py-2
					.d-flex.flex-row
						img.small_logo(src="/img/Logo.png")
						a.comp_name(href='/') Employee Awards
				.d-sm-flex.flex-sm-row.d-block.col.py-2.text-sm-left.text-center.pr-0
					.col.d-sm-flex.flex-sm-row.d-block.w-100.justify-content-start
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='mailto:lynx.no.reploy@gmail.com') Contact us			
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='/faq') FAQ
					.col.w-100
					.col.d-sm-flex.flex-sm-row.d-block.w-100.text-sm-left.text-center.justify-content-end.pr-0
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='/logout') Sign Out
						

	.wrapper
		nav#sidebar
			ul.list-unstyled.components
				li.active
					a.nav-link.active(href="/mainMenu") Dashboard
				li
					a.nav-link(href="/accountDetail") Account
				li
					a.nav-link(href="/newPassEmployee") Update Password
				li
					a.nav-link(href="/addSignature") Update Signature
				li
					a.nav-link(href="/addAward") Create Award
				li
					a.nav-link(href="/awards") Manage Award

	
		.row
			main.col-md-9.ml-sm-auto.px-4
				h2 HI, #{name}!
				.container(id="tabs")
					ul.nav.nav-pills.nav-fill
						li.nav-item
							a.nav-link(href="#1" data-toggle="tab") Upload a New Signature
						li.nav-item
							a.nav-link.active(href="#2" data-toggle="tab") Create a New Signature

				.tab-content
					.tab-pane(id="1")
						br
						form(action='/postSignature', method='post' id='upload-signature')
							input.form_control#inp(type='file')
							p#b64
							img#img(height='150')
							input.form_control(type='hidden' id='filename' name ='filename')
							button#uploadSignature.btn.btn-primary.btn-block(type='button' onClick='uploadSign()') Upload

					.tab-pane.active(id="2")
				
						lable(for='signature') Update Signature
						br
						canvas#signature(width='450',height='150', style="border: 1px solid #ddd;")
						br
						button#clearButton Clear
						button#undoButton Undo
						input.form_control(type='hidden' id='file' name ='file')
						button#sendSignature.btn.btn-primary.btn-block Save
							
						br
						br
	p.mt-5.mb-3.text-muted &copy; 2018 Lynx

	script.
		
		document.addEventListener("DOMContentLoaded", function(event) {
			addCanvas();
		});
		

		document.getElementById("inp").addEventListener('change',readFile);
		
		function readFile(){

			if (this.files && this.files[0]) {
				var FR= new FileReader();

				FR.addEventListener("load", function(e) {
				document.getElementById("img").src = e.target.result;
				document.getElementById("b64").value = e.target.result;
			}); 
	
				FR.readAsDataURL( this.files[0] );
			}

		}
		function uploadSign(){
			console.log('save');
			console.log(document.getElementById("b64").value);
			var payload={};
			
			payload.file=document.getElementById("b64").value
				
			console.log(payload);
			
				var req= new XMLHttpRequest();
				
				req.onreadystatechange=function() {
					if (req.readyState == XMLHttpRequest.DONE){
						alert("Submitted! Please Refresh!");

					}
				}
				req.open('post','//pacific-thicket-81385.herokuapp.com/postSignature',true);
				req.setRequestHeader('Content-Type','application/json');
				req.send(JSON.stringify(payload));
		}

		function addCanvas(){
			
			var canvas = document.getElementById("signature");
		
			var signaturePad = new SignaturePad(canvas, {
				backgroundColor: 'rgb(255, 255, 255)'
			});
			
			
			//clear the canvas
			clearButton.addEventListener("click", function (event) {
				signaturePad.clear();
			});

			//undo 
			undoButton.addEventListener("click", function (event) {
			var data = signaturePad.toData();
			if (data) {
				data.pop(); // remove the last dot or line
				signaturePad.fromData(data);
				}
			});

			//save
			sendSignature.addEventListener("click", function (event) {
				if(signaturePad.isEmpty()){
				alert('Please leave some signature!');
			}
			else{

			var fileData = signaturePad.toDataURL(); //pvg file in URI
			document.getElementsByName("file")[0].setAttribute("value", fileData);
			console.log(document.getElementById("file").value);
			console.log('saving');
			var payload={};
			
			payload.file=document.getElementById("file").value

				
			console.log(payload);
			
				var req= new XMLHttpRequest();
				
				req.onreadystatechange=function() {
					if (req.readyState == XMLHttpRequest.DONE){
						alert("Submitted! Please Refresh!");

					}
				}
				req.open('post','//pacific-thicket-81385.herokuapp.com/postSignature',true);
				req.setRequestHeader('Content-Type','application/json');
				req.send(JSON.stringify(payload));
			}
			})
		}