extends layout

block content
	.container-fluid.p-0.m-0
		nav.navbar.mynavbar.sticky-top.px-2
			.container
				.d-none.d-md-block.py-2
					.d-flex.flex-row
						img.small_logo(src="/img/Logo.png")
						a.comp_name(href='/mainMenuAdmin') User Toolkits
				.d-sm-flex.flex-sm-row.d-block.col.py-2.text-sm-left.text-center.pr-0
					.col.d-sm-flex.flex-sm-row.d-block.w-100.justify-content-start
								
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='/faq') FAQ
					.col.w-100
					.col.d-sm-flex.flex-sm-row.d-block.w-100.text-sm-left.text-center.justify-content-end.pr-0
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='/') Sign Out
						

		container-fluid
			row.col-md-2.d-none.d-md-block.bg-light.sidebar
				sidebar-sticky.nav.flex-column
					nav-item
						a.nav-link.active(href="/mainMenuAdmin") Dashboard
					nav-item
						a.nav-link(href="/addEmployee") Add user
					nav-item
						a.nav-link(href="/employees") Manage User
					nav-item
						a.nav-link(href="/addAdmin") Add admin
					nav-item
						a.nav-link(href="/admins") Manage admin
					nav-item
						a.nav-link(href="/logout") Business analysis

			main.col-md-9.ml-sm-auto.col-lg-10.px-4
				h1 Admin List
				table.table-responsive.table-hover
					captain
					thead-light
					tr.table-primary
						th.col-sm-3 Email
						th.col-sm-2 Delete
						th.col-sm-2 Update
					for d in admins
						tr
							td.col-sm-3= d.email
							td.col <a href=deleteAdmins?id=#{d.id}>Delete
							td.col 
								button(id=d.id.toString() onclick=`showEdit(${JSON.stringify(d)})`) Edit
			.container.center.col-md-9.ml-sm-auto.col-lg-10.px-4
				form#editFormAdmin
					fieldset(id='editA')
						legend Edit Entry
						.form-group
							input#editRowId.form_control(type='hidden',name="editRowId")
						.form-group
							label(for='editEmail') Email
							input#editEmail.form_control(required type='email')
							.invalid-feedback Enter a valid email address
							button#editRowSave.btn.btn-primary.btn-block(type='button' onClick='saveEditA()' ) Save
			p.mt-5.mb-3.text-muted &copy; 2018

	script.
		document.addEventListener("DOMContentLoaded", function(event) {
			document.getElementById('editFormAdmin').style.visibility='hidden';
			
		});

		function showEdit(data){

			document.getElementById('editFormAdmin').style.visibility='visible';
			console.log(data);
			var iid=document.getElementById('editRowId');
			iid.value=data.id;
			var name=document.getElementById('editEmail');
			name.value=data.email;
		}

		function saveEditA(){
				console.log('saving');
				var payload={};
				payload.id=document.getElementById('editRowId').value;
				payload.uname=document.getElementById('editEmail').value;
				console.log(payload);
				var req= new XMLHttpRequest();
				
				req.onreadystatechange=function() {
					if (req.readyState == XMLHttpRequest.DONE){
						alert("Submitted! Please Refresh!");

					}
				}
				req.open('post','https://pacific-thicket-81385.herokuapp.com/editAdmins',true);
				req.setRequestHeader('Content-Type','application/json');
				req.send(JSON.stringify(payload));
		
		}