extends layout

block content
	.header
		nav.site_header.sticky-top.py-1
			container.d-flex.flex-column.flex-md-row.justify-content-between.bg-dark			
				a.navbar-brand.col-sm-3.col-md-2.mr-0(href="/") LOGO
				a.navbar-nav.text-nowrap.nav-link(href="/") Sign Out

	container-fluid
		row
			nav.col-sm-3.col-md-3.d-none.d-md-block.bg-light.sidebar
				sidebar-sticky
					nav.flex-column
					
						a.nav-link.active(href="/mainMenu") Dashboard
					
						a.nav-link(href="/accountDetail") Account
					
						a.nav-link(href="/newPassEmployee") Update Password
					
						a.nav-link(href="/addSignature") Update Signature
					
						a.nav-link(href="/addAward") Create Award

						a.nav-link(href="/awards") Manage Award

			main.col-md-9.ml-sm-auto.col-lg-10.px-4
				table.table-responsive.table-hover
					captain
					thead-light
					tr.table-primary
						th.col-sm-4 Award Receiver
						th.col-sm-3 Award Type
						th.col-sm-3 Award Sender
						th.col-sm-3 Award Time
						th.col-sm-2 Details
					for d in awards
						tr
							td.col-sm-4= d.receiver
							td.col-sm-3= d.type
							td.col-sm-3= d.sender
							td.col-sm-3= d.date
							td.col <a href=awardDetails?id=#{d.id}>Details

