extends layout

block content
	.container-fluid.p-0.m-0
		nav.navbar.mynavbar.sticky-top.px-2
			.container
				.d-none.d-md-block.py-2
					.d-flex.flex-row
						img.small_logo(src="/img/Logo.png")
						a.comp_name(href='/mainMenuAdmin') Admin toolkit
				.d-sm-flex.flex-sm-row.d-block.col.py-2.text-sm-left.text-center.pr-0
					.col.d-sm-flex.flex-sm-row.d-block.w-100.justify-content-start
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='/faq') FAQ
					.col.w-100
					.col.d-sm-flex.flex-sm-row.d-block.w-100.text-sm-left.text-center.justify-content-end.pr-0
						a.d-sm-flex.flex-sm-row.d-block.active-link(href='/logout') Sign Out
	.wrapper
		nav#sidebar
			ul.list-unstyled.components
				li.active
					a.nav-link.active(href="/mainMenuAdmin") Dashboard
				li
					a.nav-link(href="/addEmployee") Add user
				li
					a.nav-link(href="/employees") Manage User
				li
					a.nav-link(href="/addAdmin") Add admin
				li
					a.nav-link(href="/admins") Manage admin
				li
					a.nav-link(href="/") Business analysis
		row
			main.col-md-auto.ml-sm-auto.px-4
				h1 Employee List
				table#users.table.table-bordered.table-condensed
					captain
					thead-light
						tr.table-primary
							th.col-sm-4 First Name
							th.col-sm-3 Last Name
							th.col-sm-3 Email
							th.col-sm-3 Created Time
							th.col-sm-2 Delete
							th.col-sm-2 Update
					.tbody
					for d in employees
						tr
							td.col-sm-4=d.first
							td.col-sm-3=d.last
							td.col-sm-3=d.email
							td.col-sm-3=d.date
							td.col <a href=deleteEmployee?id=#{d.id}>Delete
							td.col 
								button(id=d.id.toString() onclick=`showEdit(${JSON.stringify(d)})`) Edit

			.container.center.col-md-9.ml-sm-auto.col-lg-10.px-4
				form(id='editForm')
					fieldset(id='editE')
						legend Edit Entry
						.form-group
							input#editRowId.form_control(type='hidden',name="editRowId")
						.form-group
							label(for='editFirst') First Name
							input#editFirst.form_control(required type='text')
						.form-group
							label(for='editLast') Last Name
							input#editLast.form_control(required type='text')
						.form-group
							label(for='editEmail') Email
							input#editEmail.form_control(required type='email')
							.invalid-feedback Enter a valid email address
							button#editRowSave.btn.btn-primary.btn-block(type='button' onClick='saveEdit()' ) Save

	p.mt-5.mb-3.text-muted &copy; 2018 Lynx

	script.
		document.addEventListener("DOMContentLoaded", function(event) {
			document.getElementById('editForm').style.visibility='hidden';
			
		});

		function showEdit(data){

			document.getElementById('editForm').style.visibility='visible';
			console.log(data);
			var iid=document.getElementById('editRowId');
			iid.value=data.id;
			var first=document.getElementById('editFirst');
			first.value=data.first;
			var last=document.getElementById('editLast');
			last.value=data.last;
			var name=document.getElementById('editEmail');
			name.value=data.email;
		}

		function saveEdit(){
				console.log('saving');
				var payload={};
				payload.id=document.getElementById('editRowId').value;
				payload.fname=document.getElementById('editFirst').value;
				payload.lname=document.getElementById('editLast').value;
				payload.uname=document.getElementById('editEmail').value;
				console.log(payload);
				var req= new XMLHttpRequest();
				
				req.onreadystatechange=function() {
					if (req.readyState == XMLHttpRequest.DONE){
						alert("Submitted! Please Refresh!");

					}
				}
				req.open('post','https://pacific-thicket-81385.herokuapp.com/editEmployee',true);
				req.setRequestHeader('Content-Type','application/json');
				req.send(JSON.stringify(payload));
		
		}		
		